/*notification css*/
#leap-notification {
    position:fixed;
    top:0px;
    height: 5%;
    z-index:1050;
    left: 45%;
    text-align:center;
    vertical-align: middle;
    font-weight:normal;
    font-size:18px;
    font-weight:bold;
    color:white;
    padding:5px;
    border-radius: 3px;
}
#notification span.dismiss {
    border:2px solid #FFF;
    padding:0 5px;
    cursor:pointer;
    float:right;
    margin-right:10px;
}
#notification a {
    color:white;
    text-decoration:none;
    font-weight:bold;
}

#status-placeholder {
    padding: 12px 14px 12px 14px;
    position: fixed;
    bottom: 13px;
    right: 1px;
    z-index: 90;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}

.modal-content h3 {
    font-size: 20px;
}

.modal-content p {
    font-size: 14px;
}

.modal-content button {
    width: 15%;
    height: 8%;
    margin: 1%;
}

.backgroundBlink{
    background: #ff8b7c;
}