p {
    font-family: "Arial", Helvetica, sans-serif;
}

body {
    font-size: 100%;
}

center {
        margin-bottom: 50px;
}

first, second {
    margin-left: 40px;
}

move {
    margin-left: 70px;
}

.container {
    padding: 20px;
    margin: 20px;
    background: #f8f9fa;
    position: relative;
    border-radius: 25px;
    border: 2px solid rgb(177, 187, 162);
}
